*{
	margin: 0px;
	padding: 0px;
}
h1{
	font: bold 20px Tahoma;
}
h2{
	font: bold 15px Tahoma;
}
header, section, article, aside, nav, footer, hgroup{
	display: block;
}
body{
	width: 100%;
	display:flex;
	justify-content: center;
}